@{
    ViewBag.Title = "AddDeviceForm";
}

<h2>Add device</h2>

@using (Html.BeginForm("AddDevice", "Tables", FormMethod.Post))
{
    <input type="text" name="deviceID" required="required" class = "form-control" placeholder = "Device ID">
    <button class="btn btn-default" type="submit">Add device</button>
}
