@model IEnumerable<Microsoft.WindowsAzure.Storage.Table.TableEntity>
@{
    ViewBag.Title = "Devices";
}

<h2>Devices</h2>

<table class="table table-hover table-bordered">
    @foreach (var deviceName in Model)
    {
        <tr>
            <td>@deviceName.RowKey</td>
        </tr>
    }
</table>


<input type="button" class="btn btn-default" value="Add Device" name="back" onclick="@("location.href='"+ Url.Action("AddDeviceForm", "Tables")+ "'")" />