@model IEnumerable<IRPiWebApp.Models.ScheduleEntity>
@{
    ViewBag.Title = "GetSchedule";
}

<h2>Schedules</h2>

<table border="1">
    <tr>
        <th>Time</th>
        <th>DeviceID</th>
        <th>Product name</th>
        <th>Action name</th>
    </tr>
    @foreach (var schedule in Model)
    {
        <tr>
            <td><p name="datetimeCell" hidden="hidden">@long.Parse(schedule.PartitionKey)</p></td>
            <td>@schedule.DeviceID</td>
            @if (schedule.ProductName != null)
            {
                <td>@schedule.ProductName</td>
                <td>@schedule.ActionName</td>
            }
            else
            {
                <td>"Not a spesific action"</td>
                <td></td>
            }
        </tr>
    }
</table>

<script>
    var datetimeCells = document.getElementsByName("datetimeCell");
    datetimeCells.forEach(function (datetimeCell) {
        datetimeCell.innerText = new Date(parseInt(datetimeCell.innerText));
        datetimeCell.removeAttribute("hidden");
    });
</script>