@{
    ViewBag.Title = "SelectTimeSchedule";
}

<h2>SelectTimeSchedule</h2>

@using (Html.BeginForm("AddSchedule", "Tables", FormMethod.Post, new { id= "addScheduleFormID" }))
{
    <input value="@(ViewBag.scheduleDeviceID)" name ="deviceID" readonly="readonly">
    <input value="@(ViewBag.scheduleProductName)" name ="productName" readonly="readonly">
    <input value="@(ViewBag.scheduleActionName)" name="actionName" readonly="readonly">
    <input type="datetime-local" name="scheduleTime" required="required">
    <input type="hidden" name="timeZoneOffset" id="timeZoneOffsetID">
    <button type="submit" onclick="addTimezoneOffset()">Start</button>

    <script>
        function addTimezoneOffset() {
            document.getElementById("timeZoneOffsetID").value = new Date().getTimezoneOffset();
        }
    </script>
}
