@{
    ViewBag.Title = "About";
}

<link href="/Content/AboutUs.css" rel="stylesheet">

<section id="two" class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>Ipsum Feugiat</h2>
            <p>Semper suscipit posuere apede</p>
        </header>
        <div class="flex flex-4">
            <div class="box person">
                <div class="image round">
                    <img src="/Images/pic03.jpg" alt="Person 1" />
                </div>
                <h3>Magna</h3>
                <p>Cipdum dolor</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="/Images/pic04.jpg" alt="Person 2" />
                </div>
                <h3>Ipsum</h3>
                <p>Vestibulum comm</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="/Images/pic05.jpg" alt="Person 3" />
                </div>
                <h3>Tempus</h3>
                <p>Fusce pellentes</p>
            </div>
        </div>
    </div>
</section>
