@{
    ViewBag.Title = "Home Page";
}


<script>
    $("#myLink").click(function (e) {

        e.preventDefault();
        $.ajax({

            url: $(this).attr("href"), // comma here instead of semicolon   
            success: function () {
                alert("Value Added");  // or any other indication if you want to show
            }

        });

    });
</script>

<div class="jumbotron">
    <h1>IRPi - The Universal IR Remote</h1>
    <p>IRPi is a universal IR remote based on Raspberry Pi. It allows you to control any IR-based device such as TVs, set-top boxes and air conditioners. IRPi controls mulitple devices from the cloud using a simple and intuitive interface.</p>
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <ul>
            <li>Record and Transmit any IR signal</li>
            <li>Control your device through a mobile-friendly website</li>
            <li>Manage multiple Raspberry Pi's from the cloud</li>
            <li>Set timers for future remote commands</li>
            <li>Access manually through easy HTTP Requests</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Cloud</h2>
        <ul>
            <li>Azure App Service - Web App</li>
            <li>Cloud Storage - Azure Storage Table</li>
            <li>Azure Functions</li>
            <li>IoT Hub</li>
        </ul>
    </div>
</div>