@model IEnumerable<IRPiWebApp.Models.IREntity>

@{
    ViewBag.Title = "Create recording";
}

<h2>Now recording</h2>

<input value="@(ViewBag.ProductName)" class = "form-control" disabled>
<input value="@(ViewBag.ActionName)" class = "form-control" disabled>
<select class="btn btn-primary dropdown-toggle" disabled><option>@(ViewBag.DeviceID)</option></select>
<input type="button" class="btn btn-default" value="End recording" onclick="@("location.href='"+ Url.Action("EndRecording", "RPi", new {productName=ViewBag.ProductName, actionName=ViewBag.ActionName, deviceID=ViewBag.DeviceID})+ "'")" />